Solution/XsltTransformer/Transforms/Sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oddfeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="event">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="market">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="selection">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="priceup" type="xs:string" use="required" />
                        <xs:attribute name="pricedown" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="ewplaces" type="xs:string" use="required" />
                  <xs:attribute name="ewterms" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="hometeam" type="xs:string" use="required" />
            <xs:attribute name="awayteam" type="xs:string" use="required" />
            <xs:attribute name="date" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="bookie" type="xs:string" use="required" />
      <xs:attribute name="sport" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute name="generatedat" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>