Source/Daw.Services.WindowsService/SchedulerSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Daw.Services.WindowsService" elementFormDefault="qualified" targetNamespace="urn:Daw.Services.WindowsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="schedulerConfigSection" type="tns:Daw.Services.WindowsService.SchedulerConfigSectionCT" />
	<xs:complexType name="Daw.Services.WindowsService.SchedulerConfigSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="schedules" type="tns:Daw.Services.WindowsService.SchedulesCT">
				<xs:annotation>
					<xs:documentation>The Schedules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Daw.Services.WindowsService.SchedulesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="scheduleConfigItem" type="tns:Daw.Services.WindowsService.ScheduleConfigItemCT">
				<xs:annotation>
					<xs:documentation>The ScheduleConfigItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Daw.Services.WindowsService.ScheduleConfigItemCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="intervalsecs" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The intervalsecs.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="bookie" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The bookie.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sport" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The sport.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="index" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The index.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
